* {
  margin: 0;
  box-sizing: border-box;
}
a {
text-decoration: none;
}
.margin {
  margin: 0 auto;
}
.size {
  width: 1140px;
  max-width: 90%;
}
.mt2 {
  margin-top: 20px
}
.pointer {
cursor: pointer;
}

.container {
  /*border: 1px solid red;*/
  padding: 10px;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

.test {
border: 1px solid red;
}
.site {
background: rgb(228, 230, 232)
}



.menu-full {
  height: 200px;
}
.menu {
  /*background: red;*/
  height: 200px;
}
.menu-logo {
  /*background: yellow;*/
}
.hamburger {
  cursor: pointer;
  display: none;
}
.menu-resp {
  display: none;
}
.menu-intro {
  /*background: green;*/
color: #fff
}
.logo {
width: 200px;
max-width: 90%;
}
.logo-logo {
  /*background: red;*/
}
.menu-buttons {
  /*background: purple;*/
}
.itens-menu:first-child button {
  margin-right: 5px;
}




.menu-resp {
position: fixed;
height: 100%;
top: 0;
background: rgba(255, 255, 255, .9);
width: 100%;
color: #000;
}
.menu-resp-header {
padding-top: 50px
}



.categories {
  overflow-x: scroll;
}

.categories::-webkit-scrollbar {
  display: none;
}



.categories-item {
  padding: 10px;
  text-align: center;
}
.categories-item a {
  color: rgba(0, 0, 0, 0.5);
  transition: .3s ease

}
.categories-item:hover {
  border-bottom: 5px solid green;
  padding: 10px;
}
.categories-item:hover a {
color: rgba(0, 0, 0, 0.9)
}
.categ-select {
  border-bottom: 5px solid green;
  font-weight: bold;
}
.categ-select a {
  color: rgba(0, 0, 0, 0.7);
}








.lives {
overflow-x: scroll;
padding: 10px;
}
.lives::-webkit-scrollbar {
  display: none;
}
.lives-item  {
  background: blue;
  margin: 10px;
  height: 250px;
border-radius: 6px;
color: #fff;
}
.bg-live1 {
  background: url(../img/lives/1.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-live2 {
  background: url(../img/lives/2.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-live3 {
  background: url(../img/lives/3.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-live4 {
  background: url(../img/lives/4.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-live5 {
  background: url(../img/lives/5.jpeg);
  background-position: center;
  background-size: cover;
}
.btn-live {
width: 100%;
}
.btn-live-status {
font-weight: bold;
font-size: 12px;
}
.ball-live {
width: 10px;
height: 10px;
background: #ff4455;
border-radius: 50%;
display: inline-block;
}
.title {
  margin: 0px 20px 0px 20px;
  padding-top: 50px;
}
.title h2{
  color: rgba(0, 0, 0, 0.8);
font-size: 16px;
}













.news-item {
  background: #fff;
  margin: 10px;
  height: 350px;
border-radius: 6px;
overflow: hidden;
transition: .3s;
cursor: pointer;
}
.news-item:hover {
z-index: 9;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
transform: translateY(-5px);
}

.news-cont {
height: 200px;
}
.news-txt {
}
.img-news {
width: 20px;
height: 20px;
border-radius: 6px;
background: url(../img/users/1.jpg);
background-position: center;
background-size: cover;
margin-right: 10px;
}
.news-time {
font-size: 10px;
}
.news-txt-user {
width: 100%;
display: flex;
}
.news-txt-dp {
  font-size: 14px;
color: rgba(0, 0, 0, .7);
}
.news-title-p {
font-size: 12px;
}
.titulo-news {
font-size: 16px;
color: rgba(0, 0, 0, .8);
margin-bottom: 5px;
}
.alert-cont {
height: 100%;
color: #fff;
position: relative;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}


.bg-news1 {
  background: url(../img/news/1.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news2 {
  background: url(../img/news/2.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news3 {
  background: url(../img/news/3.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news4 {
  background: url(../img/news/4.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news5 {
  background: url(../img/news/5.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news6 {
  background: url(../img/news/6.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news7 {
  background: url(../img/news/7.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news8 {
  background: url(../img/news/8.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news9 {
  background: url(../img/news/9.jpeg);
  background-position: center;
  background-size: cover;
}







@media only screen and (max-width: 480px) {
  .some-mobile {
  display: none;
  }
}
@media only screen and (max-width: 768px) {
  .some-tablet {
  display: none;
  }
  .hamburger {
    display: block;
  }

}
