* {
  margin: 0;
  box-sizing: border-box;
}
a {
text-decoration: none;
}
body,
html {
height: 100%;
}
.margin {
  margin: 0 auto;
}
.size {
  width: 1140px;
  max-width: 90%;
}
.mt2 {
  margin-top: 20px
}
.pointer {
cursor: pointer;
}
input {
  width: 100%;
  height: 50px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;
padding-left: 10px;

}

.container {
  /*border: 1px solid red;*/
  padding: 10px;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

.test {
border: 1px solid red;
}
.site {
background: rgb(228, 230, 232);
min-height: 100vh;
}
.estilo {
background: #FFF;
border-radius: 6px;
}


.menu-full {
  position: fixed;
width: 100%;
z-index: 99;
}
.menu-rel {
position: relative;
height: 70px
}
.menu {
  /*background: red;*/
  height: 70px;
}
.menu-logo {
  /*background: yellow;*/
}
.hamburger {
  cursor: pointer;
  display: none;
}
.menu-resp {
  display: none;
}
.menu-intro {
  /*background: green;*/
color: #fff
}
.logo {
width: 150px;
max-width: 90%;
}
.logo-logo {
  /*background: red;*/
}
.menu-buttons {
  /*background: purple;*/
}
.itens-menu:first-child button {
  margin-right: 5px;
}
.itens-menu {
  margin: 5px
}



.menu-resp {
position: fixed;
height: 100%;
top: 0;
background: rgba(255, 255, 255, .9);
width: 100%;
color: #000;
}
.menu-resp-header {
padding-top: 50px
}



.categories {
  overflow-x: scroll;
padding-top: 20px
}

.categories::-webkit-scrollbar {
  display: none;
}



.categories-item {
  padding: 10px;
  text-align: center;
}
.categories-item a {
  color: rgba(0, 0, 0, 0.5);
  transition: .3s ease

}
.categories-item:hover {
  border-bottom: 5px solid green;
  padding: 10px;
}
.categories-item:hover a {
color: rgba(0, 0, 0, 0.9)
}
.categ-select {
  border-bottom: 5px solid green;
  font-weight: bold;
}
.categ-select a {
  color: rgba(0, 0, 0, 0.7);
}








.lives {
overflow-x: scroll;
padding: 10px;
}
.lives::-webkit-scrollbar {
  display: none;
}
.lives-item  {
  background: blue;
  margin: 10px;
  height: 250px;
border-radius: 6px;
color: #fff;
cursor: pointer;
transition: .3s
}
.lives-item a {
color: #fff;
}
.bg-live1 {
  background: url(../img/lives/1.png);
  background-position: center;
  background-size: cover;
}
.bg-live2 {
  background: url(../img/lives/2.png);
  background-position: center;
  background-size: cover;
}
.bg-live3 {
  background: url(../img/lives/3.png);
  background-position: center;
  background-size: cover;
}
.bg-live4 {
  background: url(../img/lives/4.png);
  background-position: center;
  background-size: cover;
}
.bg-live5 {
  background: url(../img/lives/5.png);
  background-position: center;
  background-size: cover;
}
.btn-live {
width: 100%;
}
.btn-live-status {
font-weight: bold;
font-size: 12px;
}
.ball-live {
width: 10px;
height: 10px;
background: #ff4455;
border-radius: 50%;
display: inline-block;
}
.title {
  margin: 0px 20px 0px 20px;
  padding-top: 40px;
}
.title-seq {
padding-top: 20px;
margin-left: 20px
}
.title-rev {
  padding-bottom: 0px;
  padding-top: 20px;
  margin-left: 15px;
}
.title h2,
.title-seq h2,
.title-rev h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}













.news-item {
  background: #fff;
  margin: 10px;
  height: 350px;
border-radius: 6px;
overflow: hidden;
transition: .3s;
cursor: pointer;
}
.news-item:hover,
.lives-item:hover {
z-index: 9;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
transform: translateY(-5px);
}

.news-cont {
height: 200px;
}
.news-txt {
}
.img-news {
width: 20px;
height: 20px;
border-radius: 6px;
background: url(../img/users/1.jpg);
background-position: center;
background-size: cover;
margin-right: 10px;
}
.news-time {
font-size: 10px;
}
.news-txt-user {
width: 100%;
display: flex;
}
.news-txt-dp {
  font-size: 14px;
color: rgba(0, 0, 0, .7);
}
.news-title-p {
font-size: 12px;
}
.titulo-news {
font-size: 16px;
color: rgba(0, 0, 0, .8);
margin-bottom: 5px;
}
.alert-cont {
height: 100%;
color: #fff;
position: relative;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}


.bg-news1 {
  background: url(../img/news/1.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news2 {
  background: url(../img/news/2.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news3 {
  background: url(../img/news/3.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news4 {
  background: url(../img/news/4.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news5 {
  background: url(../img/news/5.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news6 {
  background: url(../img/news/6.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news7 {
  background: url(../img/news/7.jpg);
  background-position: center;
  background-size: cover;
}
.bg-news8 {
  background: url(../img/news/8.jpeg);
  background-position: center;
  background-size: cover;
}
.bg-news9 {
  background: url(../img/news/9.jpeg);
  background-position: center;
  background-size: cover;
}






















.div-notice {
}
.div-notice-post {
/*background: green;*/
margin: 10px
}
.div-notice-more {
/*background: yellow;*/
margin: 10px;
}
.intro-div-notice {
padding-bottom: 10px;
/*background: blue*/
}
.intro-div-notice-top {
color: rgba(0, 0, 0, .7);
padding: 30px
}
.intro-div-notice-top small {
color: rgba(0, 0, 0, .4);
}
.intro-div-notice-image {
/*background: red*/
}
.intro-div-notice-text {
/*background: blue*/
}
.intro-notice-image {
height: 300px;
/*border-radius: 6px;*/
}
.div-notice-txt {
padding-top: 20px;
  font-size: 18px;
line-height: 28px;
text-align: justify;
color: rgba(0, 0, 0, .7);
padding: 30px;
}
.div-notice-txt::first-letter {
  text-transform: uppercase;
font-size: 40px;
}


.relevantes {
}
.post-rev {
margin: 5px;
height: 150px;
border-radius: 6px;
color: #fff;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);

}
.post-rev h2 {
 font-size: 18px;
font-weight: normal;
}
.teytey {
margin-right: 30px;
text-align: right;
}
.buttons {
padding: 30px;
}
.buttons-news {
margin: 5px;
}
.buttons-news:hover {
  transform: scale(1.1, 1.1);
}
.buttons-news a {
  color: rgba(0, 0, 0, .5);
}
.it {
  margin-left: 5px;
}
























.painel-bg {
background: url(../img/bg.jpg);
background-position: center;
background-size: cover
}
.painel-bg-cad {
background: url(../img/bg2.jpeg);
background-position: center;
background-size: cover
}
.seg-painel {
width: 90%;
}
.container-test {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
background: #fff
}
.seg-painel label {
color: rgba(0, 0, 0, .8);
}
.img-perfil {
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid #9badcb;
background: url(../img/perfil.jpg);
position: right;
background-size: cover
}

.subs span {
  font-size: 20px
}
.txt-shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);

}





@media only screen and (max-width: 480px) {
  .some-mobile {
  display: none;
  }
}
@media only screen and (max-width: 768px) {
  .some-tablet {
  display: none;
  }
  .hamburger {
    display: block;
  }
  .div-notice-txt {
    padding: 10px;
    font-size: 12px
  }
  .intro-div-notice-top,
.buttons {
    padding: 10px
  }
  .buttons {
  padding: 10px;
  }


}
